# --- VPN PROJECT NAMES ---
NEXT_PUBLIC_VPN_NAME=YourVPN

# --- DEFAULT LANGUAGE ---
NEXT_PUBLIC_DEFAULT_LANGUAGE=ru

# --- TELEGRAM BOT ---
NEXT_PUBLIC_TELEGRAM_CHANNEL_USERNAME=your_channel
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot

# --- FASTAPI SERVER ---
BOT_API_URL=http://localhost:2005/api/v1

# --- PUBLIC LINKS ---
NEXT_PUBLIC_SITE_URL=https://your-domain.com
NEXT_PUBLIC_TELEGRAM_CHAT=
NEXT_PUBLIC_EMAIL_URL=

# --- MAIN SERVER ---
NEXT_PUBLIC_MAIN_SERVER_COUNTRY=NL
